@charset "UTF-8";

.btn.btn-md {
  border-radius: 0 !important;
}

.btn.btn-sm {
  border-radius: 0 !important;
}

.btn.btn-lg {
  border-radius: 0 !important;
}

.btn.btn-primary {
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-primary-border-subtle);
  --bs-btn-active-color: var(--bs-black);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--bs-primary-border-subtle);
}

.btn.btn-secondary {
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-primary-text-emphasis);
  --bs-btn-hover-border-color: var(--bs-primary-text-emphasis);
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: var(--bs-primary-text-emphasis);
  --bs-btn-active-border-color: var(--bs-primary-text-emphasis);
}

.btn.btn-accent {
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: var(--bs-accent-bg-subtle);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: var(--bs-accent-bg-subtle);
  --bs-btn-active-border-color: transparent;
}

.btn.btn-md {
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 2rem;
  --bs-btn-font-size: 1rem;
}

.btn.btn-lg {
  --bs-btn-padding-y: 1.25rem;
  --bs-btn-padding-x: 1.875rem;
  --bs-btn-font-size: 1.25rem;
}

.btn.btn-sm {
  --bs-btn-padding-y: 0.625rem;
  --bs-btn-padding-x: 0.9375rem;
  --bs-btn-font-size: 0.875rem;
}
@media (max-width: 767.98px) {
  .btn.btn-md {
    --bs-btn-font-size: 0.875rem;
  }
}
